<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>regist</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

	<h3 align="center">신규 메뉴 등록</h3>
	
	<form action="/menu/regist" method="post">
		<label>메뉴 이름 : </label><input type="text" name="menuName"><br>
		<label>메뉴 가격 : </label><input type="number" name="menuPrice"><br>
		<label>카테고리 : </label>
		<select name="categoryCode" id="categoryCode">
			<!-- 
				카테고리 내용이 변화할 수 있다면 조회 해서 처리해야 하며
				여기에서는 ajax로 처리
			 -->
		</select><br>
		<label>판매 상태 : </label>
		<select name="orderableStatus">
			<option value="Y">판매가능</option>
			<option value="N">판매불가</option>
		</select><br>
		<input type="submit" value="전송">
	</form>
	
	<script>
	
		$(function(){
			$.ajax({
				//ajax 함수안에 객체형태로 통신에 필요한 정보를 전달한다
				url : '/menu/category',    //주소값
				success : function(data) { //성공시 전달되는 콜백함수
					console.log(data);//data: AJAX 통신 결과로 받아온 JSON 형태의 데이터 
					
					//select라는 엘리먼트쪽으로 조회한 데이터를 넣어주는 처리 필요
					//문자열로 쭉 만들어놓고 한번에 인서트 하자
					let html = '';
					//문자열 만들기 
					for(let index in data) {//date는 배열, 배열을 반복한다
						html += `<option value='${data[index].categoryCode}'>${data[index].categoryName}</option>`;
					}
					
					document.querySelector("#categoryCode").insertAdjacentHTML('beforeend', html);
					
				},
				error : function(xhr) {  //실패시 전달되는 콜백함수
					console.log(xhr); //xhr: AJAX 통신에 대한 응답 정보를 담고 있음, 실패했을 때 응답 정보를 출력하는 것		
				}
			});
		});
	
	</script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</body>
</html>